# packages
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
yarn.lock
npm-error.log*
#www/*
dist/*

# IDE
.DS_Store
.vscode/
.idea
.vs/
.idea/


# Logs
logs
*.log
pids
*.pid
*.seed
*.map

gen-java/
gen-nodejs/
package-lock.json